<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>763985542295-uap75r2aqa0hm4g4r7i6p7341v912ckv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763985542295-uap75r2aqa0hm4g4r7i6p7341v912ckv</string>
	<key>API_KEY</key>
	<string>AIzaSyCOGdSWQQtRj99rwZerNSBpaW0MkG1wnBY</string>
	<key>GCM_SENDER_ID</key>
	<string>763985542295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acquire.WeddingPlanner</string>
	<key>PROJECT_ID</key>
	<string>weddingplanner-83a5f</string>
	<key>STORAGE_BUCKET</key>
	<string>weddingplanner-83a5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:763985542295:ios:03c7f345d6583d92</string>
	<key>DATABASE_URL</key>
	<string>https://weddingplanner-83a5f.firebaseio.com</string>
</dict>
</plist>